################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Projeto2Ed/.vs/Projeto2Ed.slnx/FileContentIndex
